// bower:scss
// endbower


///// Colors ///////////////////////////////////////
////////////////////////////////////////////////////
$black: #333;
$white: #F0F0F0;




body * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


///// Buttons //////////////////////////////////////
////////////////////////////////////////////////////

.player-button {
    height: 80px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid $black;
    display: inline-block;
    line-height: 80px;
    position: relative;
    margin-right: 25px;

    &:hover .bMage-stats, &:hover .wMage-stats, &:hover .knight-stats, &:hover .archer-stats{
        position: absolute;
        content: " ";
        height: 200px;
        border: 1px solid $black;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        top: 78px;
        transition: height .4s ease;
    }
}

.player-selector {
    margin: 250px auto 0;
    text-align: center;
    position: relative;
}

.bMage-stats, .wMage-stats, .knight-stats, .archer-stats {
    position: absolute;
    left: 1px;
    height: 0;
    width: 196px;
    text-align: center;
    transition: height .4s ease;

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    & ul li {
        margin-top: 10px;
        padding: 0;
        font-size: 12px;
        line-height: 25px;
    }
}




///// Characters ///////////////////////////////////
////////////////////////////////////////////////////


.monster-select {
    opacity: 0;
    margin: 40px auto;
    width: 960px;
    min-width: 960px;
    height: 640px;
    min-height: 640px;
    background: url(../images/ffPlain.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    text-align: center;
    transition: all .3s linear;

    & .monster-select-text {
        position: absolute;
        background: transparent;
        font-weight: bolder;
        font-size: 32px;
        color: white;
        text-shadow: 1px 1px 1px darken(white, 30%);
        bottom: 0;
        left: 50%;
        margin-left: -187px;
    }

    & .fiend, & .dragon, & .goblin, & .behemoth { 
        height: 80px;
        width: 80px;
        display: inline-block;
        margin: 250px 25px 0;
        cursor: pointer;

        &:hover {
            -webkit-transform: scale(2, 2);
                    transform: scale(2, 2);
        }
    }

    & .fiend {   
        background: url(../images/fiend.gif) no-repeat;
    }

    & .dragon {
        background: url(../images/dragon.gif) no-repeat;
    }

    & .goblin {
        background: url(../images/goblin.gif) no-repeat;
    }

    & .behemoth {
        background: url(../images/behemoth.png) no-repeat;
    }
}


///// Batlles //////////////////////////////////////
////////////////////////////////////////////////////


// Battlefield GUI
.battlefield {
    display: none;
    opacity: 0;
    margin: 40px auto;
    width: 960px;
    min-width: 960px;
    height: 640px;
    min-height: 640px;
    text-align: center;
    transition: all .7s linear;
    position: relative;
    overflow: hidden;

    & .battlefield-image {
        height: 640px;
        width: 960px;
    }

    & .field {
        background: url(../images/field.png) 0 0 / cover no-repeat;
    }

    & .castle {
        background: url(../images/castle.png) 0 0 / cover no-repeat;
    }

    & .forest {
        background: url(../images/forest.png) 0 0 / cover no-repeat;
    }

    & .tech {
        background: url(../images/tech.png) 0 0 / cover no-repeat;
    }


    & .opponent {
        position: absolute;
        right: 0;
        top: 50%;
        height: 80px;
        width: 80px;
        display: inline-block;
        opacity: 0;
        transition: right   .5s ease-in,
                    opacity .2s linear;
    }

    & .fiend-opponent, & .goblin-opponent, & .dragon-opponent, & .behemoth-opponent {
        right: 350px; 
        opacity: 1;
    }

    & .fiend-opponent {
        background: url(../images/fiend.gif) 0 0 / contain no-repeat;
    }

    & .goblin-opponent {
        background: url(../images/goblin.gif) 0 0 / contain no-repeat;
    }

    & .dragon-opponent {
        background: url(../images/dragon.gif) 0 0 / contain no-repeat;
    }

    & .behemoth-opponent {
        background: url(../images/behemoth.png) 0 0 / contain no-repeat;
    }

    .hero {
        position: absolute;
        left: 0;
        top: 50%;
        height: 80px;
        width: 80px;
        display: inline-block;
        opacity: 0;
        transition: left   .5s linear,
                    opacity .2s linear;
    }
    & .archer, & .b-Mage, & .w-Mage, & .knight {
        left: 350px;
        opacity: 1;
    }

    & .archer {
        background: url(../images/archer.gif) 0 0 / contain no-repeat;
    }

    & .b-Mage {
        background: url(../images/blackmage.gif) 0 0 / contain no-repeat;
    }

    & .w-Mage {
        background: url(../images/whitemage.gif) 0 0 / contain no-repeat;
    }

    & .knight {
        background: url(../images/knight.gif) 0 0 / contain no-repeat;
    }
    
}

// battle

.battle-stats {
    position: absolute;
    bottom: 2px;
    left: 0;

}
.enemy-name-box, .hero-name {
    width: 476px;
    height: 150px;
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, blue 0%, darken(blue, 5%) 100%);
    border: 3px solid darken(white, 10%);
    border-radius: 4px;
    box-shadow: inset 0 0 4px darken(white, 60%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.hero-name,{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    color: lighten($white, 5%);
    font-family: serif;
    float: left;
    margin-right: 1px;
    margin-left: 4px;

}

.hero-stats {
    height: 100px;
    width: 100%;
    font-family: serif;

    & ul {
        list-style: none;

        & li {
            font-family: serif;
        }
    }
}

.enemy-name-box{
    padding-left: 20px;
    text-align: left;
    color: lighten($white, 5%);
    font-family: serif;
    float: right;

    & .enemy-name {
        font-size: 30px;
        font-weight: bold;
        font-family: serif;
    }
    
    & ul {
        list-style: none;

        & li {
            font-weight: bold;
            font-family: serif;
        }
    }    
}


.attack-menu {
    display: none;
    position: absolute;
    right:0;
    top: -20px;
    height: 146px;
    width: 180px;
    background: linear-gradient(to right, blue 0%, darken(blue, 5%) 100%);
    border: 3px solid darken($white, 10%);
    box-shadow: -2px 2px 0 darken(blue, 15%);
    border-radius: 4px;
    & ul {
        list-style: none;
        margin-top: 20px;
        padding-left: 5px;

        & li {
            font-size: 24px;
            font-family: serif;
            cursor: pointer;
        }
    }
}

.battle-log {
    width: 950px;
    height: 80px;
    background: linear-gradient(to right, blue 0%, darken(blue, 5%) 100%);
    border-radius: 4px;
    border: 3px solid darken($white, 10%);
    position: absolute;
    top:3px;
    left: 5px;
    opacity: 0;
    color: $white;
    overflow: hidden;

    & .battle-log-text {
        width: 950px;
        height: 40px;
        margin-top: 15px;
        text-align: center;
        font-family: serif;
        font-size: 16px;
        opacity: 1;
    }
}